@import url("./gruvbox-style.css")

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
@define-color bg0_hard     rgba(29, 32, 33, 1); 
@define-color bg0          rgba(40, 40, 40, 0.825);
@define-color bg0_soft     rgba(50, 48, 47, 1);
@define-color bg1          rgba(60, 56, 54, 1);
@define-color bg2          rgba(80, 73, 69, 1);
@define-color bg3          rgba(102, 92, 84, 1); 
@define-color bg4          rgba(124, 111, 100, 1); 

@define-color gray         rgba(146, 131, 116, 1); 

@define-color fg0_hard     rgba(249, 245, 215, 1); 
@define-color fg0          rgba(251, 241, 199, 1); 
@define-color fg0_soft     rgba(242, 229, 188, 1); 
@define-color fg1          rgba(235, 219, 178, 1); 
@define-color fg2          rgba(213, 196, 161, 1); 
@define-color fg3          rgba(189, 174, 147, 1); 
@define-color fg4          rgba(168, 153, 132, 1); 

@define-color red_light     rgba(251, 73, 52, 1);
@define-color green_light   rgba(184, 187, 38, 1);
@define-color yellow_light  rgba(250, 189, 47, 1);
@define-color blue_light    rgba(131, 165, 152, 1);
@define-color purple_light  rgba(211, 134, 155, 1);
@define-color aqua_light    rgba(142, 192, 124, 1);
@define-color orange_light  rgba(254, 128, 25, 1);

@define-color red_base     rgba(204, 36, 29, 1);
@define-color green_base   rgba(152, 151, 26, 1);
@define-color yellow_base  rgba(215, 153, 33, 1);
@define-color blue_base    rgba(69, 133, 136, 1);
@define-color purple_base  rgba(177, 98, 134, 1);
@define-color aqua_base    rgba(104, 157, 106, 1);
@define-color orange_base  rgba(214, 93, 14, 1);

@define-color red_dark    rgba(157, 0, 6, 1);
@define-color green_dark  rgba(121, 116, 14, 1);
@define-color yellow_dark rgba(181, 118, 20, 1);
@define-color blue_dark   rgba(7, 102, 120, 1);
@define-color purple_dark rgba(143, 63, 113, 1);
@define-color aqua_dark   rgba(66, 123, 88, 1);
@define-color orange_dark rgba(175, 58, 3, 1);

/*
@define-color bg0_hard     #1d2021; 
@define-color bg0          #282828;
@define-color bg0_soft     #32302f;
@define-color bg1          #3c3836;
@define-color bg2          #504945;
@define-color bg3          #665c54; 
@define-color bg4          #7c6f64; 

@define-color gray         #928374; 

@define-color fg0_hard     #f9f5d7; 
@define-color fg0          #fbf1c7; 
@define-color fg0_soft     #f2e5bc; 
@define-color fg1          #ebdbb2; 
@define-color fg2          #d5c4a1; 
@define-color fg3          #bdae93; 
@define-color fg4          #a89984; 

@define-color red_light     #fb4934;
@define-color green_light   #b8bb26;
@define-color yellow_light  #fabd2f;
@define-color blue_light    #83a598;
@define-color purple_light  #d3869b;
@define-color aqua_light    #8ec07c;
@define-color orange_light  #fe8019;

@define-color red_base     #cc241d;
@define-color green_base   #98971a;
@define-color yellow_base  #d79921;
@define-color blue_base    #458588;
@define-color purple_base  #b16286;
@define-color aqua_base    #689d6a;
@define-color orange_base  #d65d0e;

@define-color red_dark    #9d0006;
@define-color green_dark  #79740e;
@define-color yellow_dark #b57614;
@define-color blue_dark   #076678;
@define-color purple_dark #8f3f71;
@define-color aqua_dark   #427b58;
@define-color orange_dark #af3a03;
*/
